body {
  padding: 20px;
  margin: 0;
  background-color: red;
}

.villain-info {
  font-size: 20px;
  background-color: #ccddff;
  border: solid 12px;
  border-radius: 15px;
  margin: 5px;
  width: calc(50% - 10px);
}
